<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建商品列表</title>
</head>
<body>

    {% if userinfo %}
    <h1>你好:
        <small>{{ userinfo }}</small>
    </h1>
    {% endif %}

    <form action="/insertbook" method="post">
        <label for="">书籍：</label>
        <input type="text" name="name">
        <br>
        <label for="">价格：</label>
        <input type="text" name="price">
        <br>
        <label for="">书籍描述：</label>
        <textarea name="desc"  cols="30" rows="10"></textarea>
        <br>
        <br>
        <input type="submit" value="创建">
    </form>
    <br>
    <a href="/lists"><button>返回首页</button></a>

</body>
</html>